body {
  background-color: black;
  color: #cfcfcf;
  font-family: "Times New Roman", serif;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#story {
  width: 480px;
  line-height: 1.6;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: none;
  color: #aaa;
  border: 1px solid #444;
  cursor: pointer;
}

button:hover {
  color: white;
  border-color: white;
}

#scene-image {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #222;
}

